#starfish {}

#starfish .row {
    margin-left: 0px;
    margin-right: 0px;
}

.page-title {
    width: 100%;
    text-align: center;
}

/* Post submit form */
.interface {
    width: 100%;
    max-width: 800px;
    margin:auto;
}
.interface .form-control {
    margin-bottom: 5px;
}
.interface .btn {
    float: right;
}

/* Post lists */
.posts-list {
    width: 100%;
    max-width: 800px;
    margin: auto; 
    background-color: rgba(255,255,255,0.9);
    padding: 20px 0px;
}
.posts-list .post {
    background-color: rgba(245,245,245,0.8);
    margin-bottom: 10px;
    border-radius: 10px 10px 0px 10px;
}

/* Post elements */
.post { }
.post .row { padding: 5px; }
.post .top.row {
    background-color: #ddd;
    border-radius: 10px;
    font-weight: bold;
}
.post .main-reply .btn.reply {
    float: right;
    margin-right: 15px;
}
.post .btn.reply {
    margin-left: 15px;
}

.post .row.content {
    padding: 10px 5px;
}

.post .up, .post .down {
    margin-left: 5px;
    float: right;
}
.post .show-comments {
    border-radius: 15px;
    margin-left:  -15px;
    font-family: mono;
}
.post.ghost-town .show-comments {
    display: none;
}

.post .show-comments .glyphicon-plus {
    display: none;
}
.post .show-comments .glyphicon-minus {
    display: block;
}
.post .title {}
.post .mentions .glyphicon {
    margin-right: 5px;
}
.post .votes {
    text-align: right;
}
.post .votes .up {}
.post .votes .down {}
.post .content {
    display: block;
    padding: 0px 15px;
}
.post .row.loud {
    border-bottom: 2px solid #ccc;
}
.post .comments-tree ul {
    list-style-type: none;
}

.post.collapsed .show-comments .glyphicon-plus {
    display: block;
}
.post.collapsed .show-comments .glyphicon-minus {
    display: none;
}
.post.collapsed .row.comments {
    display: none;
}
.post.collapsed .top.row {
    display: block;
}

.post.collapsed .row.loud {
    border-radius: 0px 0px 10px 10px;
    border: none;
}

/* Comment trees */
.comments-tree {}
.comments-tree ul {
    margin: 0px;
    padding-left: 5px;
}
.comments-tree .comment {
    border-left: 1px solid #ccc;
    margin: 10px 0px 10px 5px;
}
.comments-tree .comment .row { 
    padding: 0px
}

.comment {}

/* Reply forms */
.reply-form {
    padding: 5px 15px;
}
.reply-form .btn {
    float: right;
    margin-top: 5px;
    margin-left: 5px;
}